

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

#container {
    background-color: white;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 97%;
    height: 580px;
    color: black;
    ;
}


h1 {
    text-align: center;
    color: black;
    margin: 5px;
}
#name {
    margin-right: 30px;
}
#number {
    margin-right: 17px;
}
#ibairro {
    margin-right: 31px
}
#iuf {
    margin-right: 53px;
}
#address {
    margin-left: 20px;
    margin-right: 10px;
}
.form-group {
    display: flex;
    justify-content: spae-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#email {
    width: 1160px;
}
#icomplemento {
    margin-left: 20px;
    margin-right: 38px;
}
#city {
    margin-left: 20px;
    margin-right: 28px;
}
#phone-number {
    margin-left: 30px;
    margin-right: 17px;
}
input, select {
    margin-bottom: 5px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 520px;

    display: flex;
    flex-direction: row
    ;
    
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
button {
    padding: 10px;
    background: darkgray;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    margin: 0 10px;

}
button#salvar {
    background: green;
}
button#limparBtn {
    background-color: darkgray;
}

button#editarBtn {
    background-color: darkgray;
}
button:hover {
    opacity: 0.8;
}
.resultado, .res {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: gray;
};